@font-face {
  	font-family: 'LatoBold';
  	font-style: normal;
  	font-weight: 700;
  	src: local('Lato Bold'), local('Lato-Bold'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
/* CSS Document */
html, body {
    height:100%;
}
body {
    font:17px/1.4 Lato, Arial, Verdana, Helvetica, sans-serif;
     -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
a img {
    border:none;
}
* {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
     touch-action: pan-y pinch-zoom double-tap-zoom;
    /* outline: 1px red solid; */
}
.mobileheader {
    display:none;
}
.hdrsurround {
    background: #F7F7F7;
}
.header {
    height:114px;
    max-width: 1310px;
    margin:0 auto;
    /* position: relative; */
    width: 100%;
}
.logo {
    width: 213px;
    display:inline-block;
}
.banner {
    display:inline-block;
    position:relative;
    width: 780px;
}
.helpAlign {
    display:table;
    height:114px;
    margin:0 auto;
    width: 700px;
}
.mission {
    font-weight: normal;
    color: black;
    font-size: 18px;
}
.helpAlign span, .feedHelper p, .descHelper p {
    display:table-cell;
    vertical-align:middle;
}
.community{
	  display: inline-block;
	  padding: 5px 0 0 0;
	  border-radius: 0px 0px 10px 10px;
	  vertical-align: top;
	  position: absolute;
	  right: 0;
	  top: 0;
}
.login {
    display: inline-block;
    line-height:40px;
    width: 115px;
    font-size: 90%;
}
.login a {
    display:block;
    color:#757375;
    color:rgb(68, 68, 68);
    text-decoration:none;
    text-align:center;
}
.login a:hover{
		color:black;
}
.navsurround {
    text-align:center;
    background-color:#E4E4E4;
    border: #E0DCDC 1px solid;
    color: black;
}
.navfixed{
		position: fixed;
		top: 0px;
		z-index: 100;
		right: 0px;
		left: 0px;
}

.nav {
    max-width: 1310px;
    margin:0 auto;
    width: 100%;
    height: 50px;
}
.menubar {
    list-style-type:none;
}
.menuitem {
    height:42px;
    float:left;
    margin: 0 10px;
    position:relative;
    font-size: 105%;
}
.menuitem a:link, .menuitem a:visited {
  	color: black;
  	height: 50px;
  	font:17px/1.4 LatoBold, Arial, Verdana, Helvetica, sans-serif;
  	font-weight:bold;
  	text-decoration:none;
  	display:table-cell;
  	vertical-align:middle;
}
.menubar .menuitem:first-child {
    margin-left:0px;
}
.menuitem:hover a {
    color: #5A5A5A;
}
.menuitem:hover {
    border-bottom: 3px #d1002a solid;
}
.menucurrent, .menucurrent:hover {
    border-bottom:4px #d1002a solid;
}
.menucurrent a {
    color:#474747;
}
.searchBox {
    height: 30px;
    width: 230px;
    margin-top: 10px;
    float:right;
    position:relative;
    display: inline-block;
}
/*Custom Search*/
.cse .gsc-control-cse, .gsc-control-cse{
		padding:0 !important;
		background:none !important;
		border:none !important;
}
.cse input.gsc-search-button, input.gsc-search-button{
		overflow: hidden;
		font-size: 0;
		border:none !important;
		border-color: transparent !important; 
   	background-color: transparent !important; 
  	background-image: none !important;
  	background: url('https://www.abilitiesunited.org/image/abilities_2015_images/search-icon.png') no-repeat !important;
  	background-size: auto 30px !important;
  	outline:1px transparent !important;
}
.cse input.gsc-search-button:hover, input.gsc-search-button:hover {
   	border-color: transparent !important; 
   	background-color: transparent !important; 
  	background-image: none !important;
  	background: url('https://www.abilitiesunited.org/image/abilities_2015_images/search-icon.png') no-repeat !important;
  	background-size: auto 30px !important;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2, input.gsc-search-button-v2:hover{
		height:30px !important;
		position: relative !important;
		right: 13px !important;
		border-radius: 0 10px 10px 0 !important;
		background-color: #fff !important;
		min-width: 8px !important;
		padding: 6px 17px !important;
		top: 0px;
}
.gsc-search-box-tools .gsc-search-box .gsc-input{
		background: none !important;
		height: 30px !important;
		width: 150px !important;
		position: relative;
		top: -12px;
		font: 1.15em Lato;
}
.gsc-input-box{
		border-radius: 10px 0 0 10px;
		position: relative !important;
		top: 11px !important;
		height: 30px !important;
		border: none !important;
		left: 1px;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus{
		box-shadow: none !important;
		border:none !important;
}
.gsst_a .gscb_a {
		display:none !important;
}
.gs-title, .gs-snippet, .gsc-results-wrapper-overlay, .gsc-results-wrapper-visible {
    font: 17px/1.4 Lato, Arial, Verdana, Helvetica, sans-serif !important;
    text-align: left !important;
    color:black !important;
}
.gsc-selected-option-container{
    min-width: 90px !important;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl{
    color: #A70223 !important;
}  
.gsc-result-info {
    display: none;
}
.gcsc-branding {
    display: none; 
}
.gsc-thumbnail {
    display: none;
}
.gs-title a { 
    font-size: 16px;  
}
.gs-snippet {
    font-size: 14px;
}
.gs-title b, .gs-snippet b {
	  color: gray !important;
}
.gsc-cursor-page {
    font-size: 1em;
    padding: 4px 8px;
    border: 1px solid #ccc;
    color: gray !important;
}
/*Custom Search End*/
.sizewrap{
		float:right;
    position:relative;
    display: inline-block;
}
.textsize {
    display:table;
    height:50px;
    margin-right:50px;
    font-weight: normal; */;
}
.textsize p {
    display:table-cell;
    vertical-align:middle;
}
.pseudoText:after {
    content:":";
}
.textsize a:link, .textsize a:visited {
    color:#000;
    text-decoration:none;
    cursor:pointer;
}
.textsize a:hover {
    color: #5A5A5A;
    cursor:pointer;
}
.smallT {
    font-size:12px;
}
.mediumT {
    font-size:17px;
}
.largeT {
    font-size:20px;
}

main {
   	display:block;
   	padding:30px 0 25px 0;
}
.boost{
		margin: 52px 0 25px 0;
}
.content {
    max-width: 1310px;
    width:100%;
    margin: 0 auto;
}
.topbutton{
    width:50px;
    height:50px;
    border-radius:25px;
    background:rgb(78,78,80);
    position:fixed;
    opacity:0.7;
    right: 50px;
 		bottom: 50px;
 		z-index:100;
}
.clearfix{
	clear:both;
}
.topbutton div:first-child{
  	width: 0;
  	height: 0;
  	border-left: 12px solid transparent;
  	border-right: 12px solid transparent;
  	border-bottom: 12px solid white;
  	position: absolute;
  	left: 13px;
  	z-index: 101;
  	top: 13px;
}
.topbutton div:last-child{
  	background: white;
  	width: 8px;
  	height: 13px;
  	position: absolute;
  	left: 21px;
  	top: 25px;
  	z-index: 101;
}
.topbutton:hover{
		opacity:1;
}
/*Footer start*/
footer {
		display:block;
    background:#d1002a;
    background-color:#e9e9e9;
    padding-bottom: 25px;
}
.footerContainer {
    max-width: 1310px;
    clear:both;
    margin:0 auto;
    vertical-align:top;
    position:relative;
    top:10px;
    width: 100%;
}
.footerCol {
    width: 32%;
    float:left;
    padding:10px 5px;
    height: 270px;
    padding: 10px 21px;
}
.footerTitle {
    font-size:200%;
}
.credentials {
    list-style-type: square;
    margin: 10px 0 0 0;
    list-style-position: inside;
    text-align: left;
}
.credentials a {
    color:black;
    text-decoration:none;
}
.midfootCol {
    margin: 0 2%;
}
.socialmedia {
    margin:15px 0;
    width: 337px;
    height: 33px;
    font-size:0;
}
.socialmedia a{
		display:inline-block;
}
.socialmedia img {
    float:left;
    margin:0 5px;
}
.copyright {
    text-align:center;
}
/*Footer end*/
/*Message to those without JavaScript*/
.noscript{
		z-index:1002;
		width:100%;
		height:100%;
		background:rgba(0, 0, 0, 0.8);
		position:fixed;
}
.noscript div{
		position:fixed;
		top:48%;
		left:30%;
		background:white;
		border-radius:5px;
		height:50px;
		z-index:1003;
}
/*JavaScript message end*/
@media all and /*!YUI Compressor */ (min-width: 1713px){
		.header{
				position:relative;
		}
	}
@media all and /*!YUI Compressor */ (max-width: 1310px) {
    .menubar .menuitem:first-child {
    		margin-left:10px;
		}
    .menuitem {
        margin: 0 8px;
    }
    .submenu {
        width:70%;
        margin-left: 8px;
    }
    .topbutton{
    		bottom: 10%;
		}
		.community{
				right:15px;		
		}   
}
@media all and /*!YUI Compressor */ (max-width: 1220px) {  
		.banner {
    	  width: 66%;
    }
    .helpAlign {
        width:auto;
    }
    .community{
    		width:103px;	
    		height: 80px;
    		padding: 0;
    		right: 15px;
    		top:12px;
    }
    .login{
    		width: auto;			
    		position: absolute;			
    		right: 0;
}
    .login:nth-of-type(2){
    		top: 33px;
    	}
    .newTitle a{
color: #A70223 !important;
      }
    .topbutton{	
    		bottom: 15%;
		}
		.footerContainer {
        background: none;    
        width: 92%;
        margin: 0 auto;
		}
    .footerCol {
        margin-left: 0px;
    }
    .credentials {
        width: 214px;
    }
    .socialmedia {
        margin: 10px auto;
    }
    .socialmedia a {
        display:inline-block;
    }
    .socialmedia img{
    		margin:0 3px;
    }
}
@media all and /*!YUI Compressor */ (max-width: 1023px){
		main{
				padding-top:0;	
		}
		.mobileheader, .navsurround, .searchBox, .textSize {
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
    }
		.mobileheader {
        display:block;
        background: #d1002a;
        position:relative;
        height: 50px;
        position: fixed;
				width: 100%;
				z-index: 100;    
        background-color: #E4E4E4;
		}
		.menuic {
        float:left;
        display: table;
        height: 50px;
        padding-left: 20px;
        position: relative;
        z-index: 1000;
    }
    .mobileheader a {
        color: black;
        text-decoration: none;
        display: table-cell;
        vertical-align: middle;
    }
    .menuicon {
        display: block;
        height: 50px;
        width: 120px;
        font-size: 21px;
        margin-left: 20px;
    }
    .icon-bar {
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 1px;
        background: black;    
		}
    .icon-bar+.icon-bar {
        margin-top: 4px;
    }
    .menu-text {
        display: inline;
        left: 46px;
        top: 9px;
        position: absolute;    
        color: black;
		}
		.hdrsurround {
        background:transparent;
        padding-top: 50px;
    }
    .header {
    		position:relative;
    }	    
    .community{
    		background:none;   	  
    		position: fixed;
  			z-index: 101;
  			display:none;
    		padding-top: 6px;
    		width: auto;
    		top: 50px;
    		height: auto;
		}	
    .community.mobileSelect {
    		display: inline-block;   		
		}
		.login {
  			position:initial;
  			width: 115px;
		}
    .navsurround {
        top: 50px;
        width: 100%;
        border:none;
        position: fixed;
				z-index: 100;
    }
    .nav {
        border-top:#E0DCDC 1px solid;
        height: 0;
		}  
    .menubar {
        display:none;
    }
    .menubar.mobileSelect{
    		display:initial;
    }    
    .menuitem {
        height:50px;
    }
    .sizewrap, .searchBox{
    		position: fixed;
				top: 0;
    }
    .searchBox{
    		right:0;
    }
		.sizewrap{
    		right: 230px;
    }        
    
}
@media all and /*!YUI Compressor */ (max-width: 960px) {
		.mobileSelect {
         display:initial;
         z-index:550;
    } 
		.header {
        height: auto;
        margin: 0 auto;
        position: initial;
    }
    .community{
   			left: 0;
  			top: 345px;
   			width: 390px;
   			padding-left: 20px;
		}
    .login{
    		width:auto;	
    }
    .community .login:last-child{
    		margin-left: 41px;
		}
    .menubar {
    		width: 404px;
    		position: absolute;
    		z-index: 100;
    		left: -1px;
    		background-color: #E4E4E4;
    		border-radius: 0 0 9px 9px;
    		/* border: #E0DCDC 1px solid; */
    		border-top: none;
    		padding-bottom: 50px;
		}
    .menubar .menuitem:first-child {
        margin-left: 19px;
    }
    .menuitem {
        height: 50px;
        width: 184px;
        margin: 0;    
        float: none;
        margin-left: 20px;
		}   
    .menuitem:hover, .menucurrent, .menucurrent:hover {
        border-bottom:0px;
		}
		.menucurrent a{
    		color:#d1002a !important;
    }
    .searchBox {	
        width: 191px;
        z-index: 0;
        right: 0;
		}
    /*Mobile Custom Search Style Start*/
		.gsc-search-box-tools .gsc-search-box .gsc-input{
				width:120px !important;
		}
    .searchBox input[type=search], .gsc-input-box {
    	 display:none; 
    }
    .searchBox input[type=search].mobileSelect, .gsc-input-box.mobileSelect{
    		display: block;
		}
		.cse input.gsc-search-button, input.gsc-search-button, .cse input.gsc-search-button:hover, input.gsc-search-button:hover{
		  	background: url('https://www.abilitiesunited.org/image/abilities_2015_images/search-icon.png') no-repeat !important;
		    background-size: auto 30px !important
		}
    .search-icon, input.gsc-search-button {
        background-color:transparent !important;
    }
    input.gsc-search-button:hover{
    		background-color:transparent !important;
    }
    .cse input.gsc-search-button.searchSelect, input.gsc-search-button.searchSelect, .cse input.gsc-search-button.searchSelect:hover, input.gsc-search-button.searchSelect:hover{
    		background:url('https://www.abilitiesunited.org/image/abilities_2015_images/search-icon.png') no-repeat !important;
    		background-size: auto 30px !important;
    } 
		 /*Mobile Custom Search Style End*/
    .sizewrap{
    		right: inherit;
    		z-index: 100;
		}
    .textsize {
        margin: 0 auto;
        position: relative;
        left: -50%;
        z-index: 600;
		}
    
    .topbutton{
    		right: 5%;
    		bottom: 23%;
		}	 
    .footerCol {
        width: 49%;
        height: auto;
        padding: 10px 11px 30px 11px;
    }
    .credentials{
    		margin: 10px 0 0 0;
    }
		.midfootCol{
    		margin: 0 0 0 2%;
    }
    .socialmedia {
        width:337px;
        margin: 10px -5px;
		}
    .socialmedia img{
    		margin:0 5px;
    
    		width: 27px;
}
}
@media all and (max-width: 780px) {
		.logo {
        margin: 0 auto;
        float: none;
        height: 114px;
    }
    .banner {
        display: block;
        width: 92%;
        float: none;
        height: auto;
        margin:0 auto;
        margin-bottom: 20px;
		}
		.helpAlign {
        margin: 0 auto;
        float: none;
        display: block;
        height: auto;
    }    	
}
@media all and /*!YUI Compressor */ (max-width: 480px) {
		.banner {
				width:95%;	
		}
		.mission {
				font-size:15px;	
		}
    .menubar {
        width: 100%;
    }
    .searchBox.mobileSelect{
				z-index:700;
		}
		.community{
    		width: 95%;
    }
		.textsize p {
        cursor:pointer;
    }
		.pseudoText:after {
        content:"\25BC";
        font-size: 16px;
        color: rgba(133, 133, 133, 0.96);
        cursor:pointer;
    }
		.textAdj{
        display:none;
        position: absolute;
        top: 50px;
        left: 0;
        background: #F1F1F1;
        padding: 10px;
        border: #E0DCDC 1px solid;
        border-top: none;
        border-radius: 0 0 9px 9px;
        width: 100px;
    }
    .textAdj.mobileSelect{
    		display:initial;
    }
    
		.topbutton{
   			right: 5%;	
    		bottom: 23%;
		}
    .footerContainer{
    		width:100%;
    }
    .footerCol {
        width:100%;
        text-align:left;
        margin:0;
    }
    .socialmedia {
        max-width: 377px;
        width: 100%;
        height: auto;
        display: inline-block;
		}
}
/*Homepage css */

/* CSS Document */
.submenu{
		display:none !important;
}
.boost{
		margin-top:82px;
}
/*Image Slider*/
.sliderpart {
    position:relative;
    z-index:1;
    overflow: hidden;
}
.sliderpart a{
		color:black;
    text-decoration: none;
}
.slide {
    visibility:hidden;
    opacity:1.0;
    left:0;
    position:relative;
    display:none;
    width:100%;
    touch-action: pan-y;
}
.slideActive {
    opacity:1;
    display:block;
    visibility:visible;
    left:0;
}
.slideHidden {
    display:none;
    visibility:hidden;
    opacity:0;
}
.slideFadeOut {
    display:block;
    opacity:0;
}
.slideFadeIn {
    opacity:1;
    display:block;
    visibility:visible;
}
.hiddenSlide {
    display: block;
    top: 0;
    visibility: visible;
    position: absolute;
}
.slideLeft {
    left:-100%;
}
.slideRight {
    left:100%;
}
.slideTransition {
    display:block;
    transition:opacity 0.7s ease-in-out, left 0.8s ease-in-out;
    -webkit-transition:opacity 0.7s ease-in-out, left 0.8s ease-in-out;
    -moz-transition:opacity 0.7s ease-in-out, left 0.8s ease-in-out;
    -o-transition:opacity 0.7s ease-in-out, left 0.8s ease-in-out;
}
.slideDesc {
    position:absolute;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.67);
    width:400px;
    height: 80px;
    bottom:65px;
    left:0;
    font-size: 150%;
}
.descHelper {
    display: table;
    margin: 0 auto;
    height: 100%;
    width: 90%;
}
.slide img {
    vertical-align:top;
    width: 100%;
}
.arrow {
    position: absolute;
    z-index: 33;
    width: 52px;
    height: 52px;
    top: 43%;
    border-radius: 26px;
    color:#fff;
    cursor: pointer;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background: rgb(46, 45, 41);
    opacity: 0.7;   
    right:5px;
}
#larrow {
    left:5px;
}
.arrow input {
    background: none;
    border: none;
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
    cursor: pointer;
    outline: 1px transparent solid;
}
.fillArrow, .emptyArrow{
		width: 0;
    height: 0;
    position: absolute;
}
.fillArrow{
		border-top: 13px solid transparent;
    border-bottom: 13px solid transparent; 
    top:25%;
}
#larrow .fillArrow {
    border-right: 17px solid #fff;
    left: 29%;
}
.emptyArrow{
	border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    z-index: 5;
    top:27%;
	}
#larrow .emptyArrow {
    border-right: 18px solid rgb(46, 45, 41);
    left: 37%;
}
#rarrow .fillArrow {
    border-left: 17px solid #fff;
    left: 37%;
}
#rarrow .emptyArrow {
    border-left: 18px solid rgb(46, 45, 41);
    left: 28%;
}
.controlWrap {
    width:100%;
    height:30px;
    position:absolute;
    z-index:33;
    bottom:0;
    background:rgb(255, 255, 255);
    background:rgba(255, 255, 255, 0.73);
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.controls input {
    width:16px;
    height:16px;
    border-radius:8px 8px 8px 8px;
    display:inline-block;
    background-color:#d3d3d3;
    cursor:pointer;
    margin-top:7px;
    border:0;
    background-color: #a3a3a3;
    outline: 1px transparent solid;
    -webkit-appearance: none;
}
.controls .selected {
    background-color: #d1002a;
}
/*Slider end*/

/*Column start*/
.colContainer {
    margin: 0 auto;
}
.col {
    float:left;
    padding: 10px 21px;
    margin-top:25px;
    position: relative;
    width: 32%;
}
.colTitle {
    font-size: 175%;
    font-weight: normal;
    display: inline-block;
    position: relative;
    z-index:15;
}
h1.colTitle:after {
    content:'...';
    color: red;
    font-size: 67px;
    position: absolute;
    top: -39px;
    margin-left: 10px;
    letter-spacing: 1px;
}
.eventsPart:hover, .newsPart:hover {
    background:#f7f7f7
}
.eventDate {
    float:left;
    width: 100px;
    color:gray;
    font-size: 24px;
}
.feedHelper {
    display:table;
    height: 68px;
}
.eventsalign {
    padding-left: 15%;
}
.newTitle a {
    color:black;
    text-decoration:none;
}
.newsPart:hover .newTitle a, .eventsPart:hover .newTitle a {
    color: #A70223;
    text-decoration:none;
}
.more a {
    color:rgb(124, 124, 124);
    text-decoration:none;
}
.more a:hover {
    color: rgb(145, 145, 145);
}
.whiteout{
		height: 71px;
  	width: 100%;
  	display: block;
  	position: absolute;
  	z-index: 10;
  	background: white;
  	top: 0;
}
.faceplug, #face{
		position: absolute;
  	top: 0;
	}
.facecontainer{
    width: 100% !important;
}
.midsmallC {
    margin: 0 2%;
    margin-top: 25px;
}
.colCHelper {
    display: table;
    height: 273px;
    width: 100%;
}
.colContent {
    display: table-cell;
    vertical-align: middle;
}
.colStrip .colTitle:after{
		display:none;
}
.colStrip .colCHelper {
    height: 89px;
}
.colContribution {
    height:146px;
}
.colContribution p {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}
.colContribution img {
    margin-top: 21px;
    display: block;
    margin: 11px auto 10px;
    width: 100%;
    max-width: 377px;
    border-radius: 7px;
}
.quotes{
		height:158px;
}
.quotes blockquote:before, .quotes .afterquote:after{
		display: block;
    padding-left: 10px;
    font-size: 60px;
    position: absolute;
    color: #7a7a7a;
	}
.quotes blockquote:before {
    content:"\201C";
    left: -21px;
    top: -19px;
}
.quotes blockquote {
    font-size: 170%;
    padding: 0 11px;
    position: relative;
    margin: 0 0 15px 0;
    height:80px;
}
.afterquote {
    position:relative;
}
.afterquote:after {
    content:"\201D";
    right: -29px;
    bottom: -25px;
}
@-moz-document url-prefix() {
    .afterquote:after {
          content:"\201D";
          right: -29px;
          bottom: 0px;
    }
}
.donatelink{
    text-decoration: none;
}
.donate {
    color: white;
    width: 200px;
    height: 50px;
    font-size: 28px;
    border: none;
    border-radius: 30px;
    margin: 5px auto 0 auto;
    display: block;
    background-color: red;
   -webkit-appearance: none;
}
.donate:hover {
    background: #d1002a;
}
@media all and /*!YUI Compressor */ (max-width: 1310px) {
    .slideDesc {
        bottom: 30px;
        height: 70px;
        width: 50%;
        font-size: 130%;
        left: 25%;
        text-align: center;
    }
    .arrow {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        font-size: 20px;
    }
    .fillArrow {
				border-top: 12px solid transparent;
				border-bottom: 12px solid transparent;
				top: 24%;
		}
		.emptyArrow {
				border-top: 11px solid transparent;
				border-bottom: 11px solid transparent;
				z-index: 5;
				top:26%;
		}
		.aLeft .fillArrow {
		   	border-right: 17px solid #fff;
				left: 25%;
		}
		.aLeft .emptyArrow {
		    border-right: 18px solid rgb(46, 45, 41);
				left: 33%;
		}
		.aRight .fillArrow {
		    border-left: 17px solid #fff;
				left: 37%;
		}
		.aRight .emptyArrow {
		   	border-left: 18px solid rgb(46, 45, 41);
				left: 24%;
		}
		.col{	
    		padding: 5px 11px;
    }
}		
@media all and /*!YUI Compressor */ (max-width: 1220px) {
 		.slideDesc {
        width: 60%;
    		left: 20%;
    		font-size: 120%;
    		height: 60px;
    }
    .col {
        width:49%;
        height: 347px;
		}
    .midsmallC, .colStrip .col {
        margin:25px 0 0 2%;
    }
    .col:nth-of-type(3){
				float:right;
		}
    .colStrip .col {
        height: 225px;
		}
		.colStrip .col:first-child{
    		margin-left: 0;
		}
		.colStrip .col:first-child .colTitle:after{
				display:initial;
		}
		.colStrip .midsmallC {
    		float:left;
        margin-left: 0;
        height: 220px;
        margin-top: 49px;
		}
		.colContribution img {
        margin:0;
    }
    .col:last-child {
        height: 220px;
		}    
		.quotes {
        height: 140px;
    }
    .quotes blockquote {
        margin:0px 0 5px 0;
    }
 		.donate{
 			  margin-left: 0;
		}
 	}
@media all and /*!YUI Compressor */ (max-width: 1023px){
		.sliderpart {
        margin-top:0px;
    }
}
@media all and /*!YUI Compressor */ (max-width: 960px) {
		.slideDesc {
        width: 74%;
        left: 13%;
    }	 
    .arrow {
        top: 41%;
    }
}
@media all and /*!YUI Compressor */ (max-width: 780px) {	
		.sliderpart {
        background: #F8F8F8;
    }
    .slideDesc {
        position: initial;
        margin: 0 auto;
        width: 100%;
        background: none;
    }
    .slide img {
        border-radius: 0;
    }
    .arrow {
        display:none;
    }
    .controlWrap {
        position:initial;
    }
    .colContainer{
        margin-top: 10px;
    }
    .col, .midsmallC, .colStrip .col {
        width:100%;
        margin:10px 0%;
        height: auto;
        float:left;
    }
    .col:last-child {
        margin:0;
    }
    .donate{
    		position:initial;
    		right:0;
    		margin-top:5px;
    }
	}
@media all and /*!YUI Compressor */ (max-width: 480px) {
		.descHelper{
    		width:100%;	
    }
		.colStrip .col {
        margin: 25px 0 0 0;
    }
    .quotes {
        height:160px;
    }
    .quotes blockquote {
        height:110px;
        margin-bottom: 15px;
    }
	}

/*Net community gimmicks*/
.DesignPanePage ~ .banner{


}